.loading {
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2020;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  h1 {
    color: white;
    padding-top: 50vh;
    font-size: 40px;
  }
}
